body {
  .task-form {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10%;
    .input-fields {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
}
