@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter.ttf);
}
body {
  display: flex;
  background-color: #1B1A17;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
}
body .task-form {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10%;
}
body .task-form .input-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
body .task-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F1E1B;
  border-radius: 8px;
  outline-color: #FF8303;
  outline-style: outset;
  outline-width: 2px;
  margin-bottom: 20px;
  cursor: pointer;
}
body .task-block .task-block-text {
  margin-left: 20px;
  width: 90%;
}
body .task-block .task-block-text .task-block-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: -5px;
  margin-top: 15px;
}
body .task-block .task-block-text .task-block-about {
  margin-bottom: 10px;
  font-size: 14px;
}
body .task-block .task-block-button {
  margin-right: 20px;
  height: 30px;
  width: 30px;
  font-size: 20px;
}
body .spec-buttons {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
  margin-top: -5px;
  gap: 10px;
}
body .spec-buttons .share-button {
  background-image: url("assets/images/Share.png");
  height: 30px;
  width: 30px;
}
body .spec-buttons .info-button {
  background-image: url("assets/images/letteri.png");
  height: 30px;
  width: 30px;
}
body .spec-buttons .edit-button {
  background-image: url("assets/images/Edit.png");
  height: 30px;
  width: 30px;
}

body .popup-background {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
body .popup-background .delete-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1B1A17;
  height: 140px;
  margin-top: 20%;
  margin-left: 25%;
  width: 50%;
  border-top: 4px outset #A35709;
  font-size: 20px;
  padding-top: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
body .popup-background .delete-popup .delete-popup-button-yes {
  margin-top: 30px;
  color: white;
  font-size: 10px;
  height: 30px;
  margin-right: 6px;
}
body .popup-background .delete-popup .delete-popup-button-no {
  margin-top: 30px;
  color: white;
  font-size: 10px;
  height: 30px;
}
body .popup-background .share-popup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 80px;
  margin-left: 5%;
  background-color: #1B1A17;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
body .popup-background .share-popup button {
  height: 50px;
  width: 50px;
  background-color: #23221F;
  border-style: none;
  border-radius: 50%;
}
body .popup-background .share-popup .to-copy-button {
  background-image: url("assets/images/toCopy.png");
}
body .popup-background .share-popup .vk-button {
  background-image: url("assets/images/vk.png");
}
body .popup-background .share-popup .telegram-button {
  background-image: url("assets/images/telegram.png");
}
body .popup-background .share-popup .watsapp-button {
  background-image: url("assets/images/whatsapp.png");
}
body .popup-background .share-popup .facebook-button {
  background-image: url("assets/images/facebook.png");
}
body .popup-background .edit-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1B1A17;
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 70%;
  margin-left: 5%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
body .popup-background .edit-popup button {
  font-size: 16px;
  color: #F0E3CA;
  font-weight: 400;
}
body .popup-background .edit-popup .title-edit {
  background-color: #242320;
  width: 90%;
  height: 5%;
  margin-top: 26px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #F0E3CA;
}
body .popup-background .edit-popup .about-edit {
  background-color: #242320;
  width: 90%;
  height: 90%;
  border-radius: 4px;
  border-color: #FF8303;
  border-width: 2px;
  color: #F0E3CA;
  padding-left: 14px;
  padding-top: 10px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  resize: none;
}
body .popup-background .edit-popup .popup-edit-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 14px;
  height: 40px;
}

.no-tasks {
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-size: 24px;
  color: #FFFFFF;
}

hr {
  width: 50px;
  height: 3px;
  background-color: #FF8303;
  border-color: #FF8303;
  border-radius: 4px;
}

input {
  border-color: #FF8303;
  background-color: #1F1E1B;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  font-family: Roboto;
  padding-left: 10px;
  color: rgb(192, 192, 192);
}

button {
  border-color: #FF8303;
  border-radius: 4px;
  background-color: #1B1A17;
  color: #FF8303;
  width: 70px;
  font-size: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

p {
  color: #F0E3CA;
  font-family: Roboto;
}